@model HippoCampus.Models.ListItemModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ListModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListDec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListDec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
