@model IEnumerable<HippoCampus.Models.ListItemModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListDec)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListDec)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ListId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ListId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ListId })
        </td>
    </tr>
}

</table>
